<div class="forecast-data">
    <div class="alert alert-warning" role="info">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span style="padding-left: 10px;">Country : </span>{{locationData.country}}<br>
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span style="padding-left: 10px;">City : </span>{{locationData.city}}<br>
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span style="padding-left: 10px;">Region : </span>{{locationData.region}}
    </div>
    <button style="margin-right: 10px; padding: auto 10px" ng-show="theDay != null" ng-class="(Data.showDay[$index])? 'active' : ''" ng-repeat="theDay in forecastData track by $index" ng-click="Func.showTheDay($index)" class="btn btn-default">{{theDay.day}}</button>
    <table class="table table-striped">
        <thead>
            <th>Date</th>
            <th>Day</th>
            <th>Highest Temperature</th>
            <th>Lowest Temperature</th>
            <th>Detail</th>
        </thead>
        <tbody>
            <tr>
                <td>{{currentData.date}}</td>
                <td>{{currentData.day}}</td>
                <td>{{currentData.high}}</td>
                <td>{{currentData.low}}</td>
                <td>{{currentData.text}}</td>
            </tr>
        </tbody>
    </table>
</div>
