<div class="forecast-data">
    <div class="alert alert-warning" role="info">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span style="padding-left: 10px;">Country : </span>{{locationData.country}}<br>
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span style="padding-left: 10px;">City : </span>{{locationData.city}}<br>
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span style="padding-left: 10px;">Region : </span>{{locationData.region}}
    </div>
    <button style="margin-right: 10px; padding: auto 10px" ng-show="theDay != null" ng-class="(Data.showDay[$index])? 'active' : ''" ng-repeat="theDay in forecastData track by $index" ng-click="Func.showTheDay($index)" class="btn btn-default">{{theDay.day}}</button>
    <table class="table table-striped">
        <thead>
            <th>Date</th>
            <th>Day</th>
            <th>Highest Temperature</th>
            <th>Lowest Temperature</th>
            <th>Detail</th>
        </thead>
        <tbody>
            <tr>
                <td>{{currentData.date}}</td>
                <td>{{currentData.day}}</td>
                <td>{{currentData.high}}</td>
                <td>{{currentData.low}}</td>
                <td>{{currentData.text}}</td>
            </tr>
        </tbody>
    </table>
    <div class="col-sm-12">
        <ul class="dateStatus col-sm-6">
            <li><span style="color: #e8e8e8;" class="glyphicon glyphicon-calendar"></span>{{currentData.day}}, {{currentData.date}}</li>
        </ul>
        <ul class="tempStatus col-sm-6">
            <li><i style="color: deepskyblue" class="wi wi-direction-up"></i>{{currentData.high}}</li>
            <li><i style="color: mediumvioletred;" class="wi wi-direction-down"></i>{{currentData.low}}</li>
        </ul>
        <ul class="detail">
            <!--<li><i style="color: #54579c" class="wi {{detailClass}}" ng-class=""></i></li>-->
        </ul>
    </div>
</div>

